* {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-size: 200% 100% !important;
  background: -webkit-linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
  height: 100vh;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user__header {
  text-align: center;
  opacity: 0;
}

.user__title {
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border: 1px solid white;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__input:focus {
  background: #f7f7f7;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #ABA194;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #a09486;
}

